<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/index.css" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.png" />
    <title>Shortner Your URL</title>
  </head>
  <body>
    <header class="page_header container">
      <a href="/" class="logo"> URL Shortener </a>
      <nav>
        <a href="/">Create Link</a>
        <a href="/">View Links</a>
        <a href="/">Log out</a>
      </nav>
    </header>
    <main>
      <section class="container">
        <!-- i think we should send it as the old days of php ( old means 2023 )-->
        <form action="create_url_form">
          <div>
            <label for="url">Url</label>
            <input type="text" id="url" name="url" />
          </div>
          <div>
            <label for="message">Message</label>
            <textarea name="message" id="message"></textarea>
          </div>
        </form>
      </section>
      <div style="width: 30px; height: 30px"></div>
    </main>
  </body>
</html>

