<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shortner Your URL</title>
    <style>
      body {
        background: #000;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <header></header>
    <main>
      <section>
        <!-- i think we should send it as the old days of php ( old means 2023 )-->
        <form action="">
          <div>
            <label for="url">{{ .ID }}</label>
            <input type="text" id="url" name="url" />
          </div>
          <div>
            <label for="message">Message</label>
            <textarea name="message" id="message"></textarea>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>

